NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=tradex
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=CHANGE_THIS_IN_REAL_ENV
ADMIN_WALLET=

BLOCKCHAIN_RPC_POLYGON=
BLOCKCHAIN_RPC_BSC=https://bsc-dataseed.binance.org/

USDT_POLYGON_CONTRACT=0xc2132D05D31c914a87C6611C10748AEb04B58e8F

TRADEX_VAULT_ADDRESS=
